.order-index {
   font-size: 6em;
   line-height: 132px;
}

.order-box {
   height: 132px;
   width: 132px;
   text-align: center;
   margin: 0 auto;
   background-color: #a0a0a0;
   color: white;
}

.order-wrapper {
   display: inline-block;
   margin: 1.5em;
}

.order-detail {
   border-bottom: 1px solid #d0d0d0;
   color: #a0a0a0;
   padding: 2px 0;
   display: block;
}
