{% extends "Layout.html" %}
{% block content %}

<style>
select:invalid {
   color: gray;
}

nav ul {
   height:200px;
   width:18%;
   overflow:hidden;
   overflow-y:scroll;
}
</style>

<div class="pure-g">
  <div class="pure-u-6-24">
  </div>
  <div class="pure-u-12-24" style="margin-bottom: 15px;">

    <div id="first-panel">
      <div class="content">
        {% if action == "create" %}
        <h2 class="content-head is-center">Create Menu Item</h2>
        {% else %}
        <h2 class="content-head is-center">Update Menu Item</h2>
        {% endif %}
        <hr>

        <form class="pure-form pure-form-stacked">
          <fieldset>

            <div class="pure-g">

              <div class="pure-u-1 pure-u-md-10-24">
                <label for="menu-item-name">Name <b style="color: red;">*</b></label>
                <input id="menu-item-name" class="pure-u-1-1" name="menu-item-name" type="text" placeholder="Menu Item Name" value="{{ name }}">
              </div>

              <div class="pure-u-1 pure-u-md-4-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label for="menu-item-category">Category <b style="color: red;">*</b></label>
                <select id="menu-item-category" class="pure-u-1-1" name="menu-item-category" type="text" required>
                  {% if action == "create" %}
                  <option value="" disabled selected hidden>Select a Category</option>
                  {% endif %}
                  <option {{ category|lower == "appetizer" ? ' selected ' : "" }} value="Appetizer">Appetizer</option>
                  <option {{ category|lower == "entree" ? ' selected ' : "" }} value="Entree">Entree</option>
                  <option {{ category|lower == "dessert" ? ' selected ' : "" }} value="Dessert">Dessert</option>
                  <option {{ category|lower == "drink" ? ' selected ' : "" }} value="Drink">Drink</option>
                  <option {{ category|lower == "other" ? ' selected ' : "" }} value="Other">Other</option>
                </select>
              </div>

              <!-- one row -->

              <div class="pure-u-1 pure-u-md-10-24">
                <label for="menu-item-price">Price <b style="color: red;">*</b></label>
                <input id="menu-item-price" class="pure-u-1-1" name="menu-item-price" type="number" step="0.01" min="0" placeholder="Menu Item Price" value="{{ price }}">
              </div>


              <div class="pure-u-1 pure-u-md-4-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label for="menu-item-quantity">Quantity <b style="color: red;">*</b></label>
                <input id="menu-item-quantity" class="pure-u-1-1" name="menu-item-quantity" type="number" min="0" placeholder="Menu Item Quantity" value="{{ quantity }}">
              </div>


              <!-- other row -->

              <div class="pure-u-1 pure-u-md-1-1">
                <label for="menu-item-description">Description</label>
                <textarea id="menu-item-description" class="pure-u-1-1" name="menu-item-description" placeholder="Menu Item Description" rows="4">{{ description }}</textarea>
              </div>

              <!-- row -->

              <div class="pure-u-1 pure-u-md-1-1">
                <label style="margin: 1em 0 0;">Ingredients</label>
                <nav style="border: 1px solid #a4a4a4; background-color: white;">
                  <ul style="width: 100%; list-style-type: none; margin: 3px 0 3px 0; padding-left: 15px;">
                    {% for ingredient in ingredients %}
                    <li>
                      <label class="search-label">
                        {% if action == "create" %}
                        <input id="ingred-{{ loop.index }}" class="search-chkbox" data-id="{{ ingredient.ing_id }}" data-name="{{ ingredient.name }}" type="checkbox" /> {{ ingredient.name }} - Category: {{ ingredient.type }}
                        {% else %}
                        <span>{{ ingredient.name }} - Category: {{ ingredient.type }}</span>
                        {% endif %}
                      </label>
                    </li>
                    {% endfor %}
                  </ul>
                </nav>
              </div>


              <!-- row -->
            </div>

            <!-- button row -->
            <div class="pure-g" style="padding-top: 30px;">
              <div class="pure-u-1 pure-u-md-18-24">
              </div>

              <div class="pure-u-1 pure-u-md-2-24">
                {% if action == "create" %}
                <button id="create-btn" class="pure-button pure-button-primary" type="button">Create</button>
                {% else %}
                <button id="save-btn" class="pure-button pure-button-primary" type="button" data-id="{{ id }}">Save</button>
                {% endif %}
              </div>

              <div class="pure-u-1 pure-u-md-4-24">
              </div>

            </div>

          </fieldset>
        </form>

      </div>
    </div>
    {% if action == "update" %}
    <hr>
    <a href="/menuItems" style="float: left;">Click here to go back.</a>
    {% endif %}
  </div>
  <div class="pure-u-6-24">
  </div>
</div>

<script>
$("#save-btn").click(function () {
   if ($("#menu-item-name").val().trim() === '' ||
       $("#menu-item-category").val().trim() === '' ||
       $("#menu-item-price").val().trim() === '' ||
       $("#menu-item-quantity").val().trim() === '') {
      alert("Required input is missing. Fill out and try again.");
      return;
   }

   $.ajax({
      url: "/menuItem/update",
      type: "POST",
      data: {
         "menu-id": $(this).data("id"),
         "new-menu-item-name": $("#menu-item-name").val(),
         "new-menu-item-category": $("#menu-item-category").val(),
         "new-menu-item-price": $("#menu-item-price").val(),
         "new-menu-item-quantity": $("#menu-item-quantity").val(),
         "new-menu-item-description": $("#menu-item-description").val()
      },
      success: function (data) {
         console.log(data);
         window.location.replace("/menuItems");
         alert('Menu Item changes succeeded.');
      },
      error: function (data) {
         console.log(data);
         alert('Menu Item changes failed. Try again.');
      }
   });
});

$("#create-btn").click(function () {
   if ($("#menu-item-name").val().trim() === '' ||
       $("#menu-item-category").val().trim() === '' ||
       $("#menu-item-price").val().trim() === '' ||
       $("#menu-item-quantity").val().trim() === '') {
      alert("Required input is missing. Fill out and try again.");
      return;
   }

   var ingredValues = [];
   var i = 1;
   while (i > 0) {
      var ingred = $("#ingred-" + i);
      if (ingred.length == 1) {

         if (ingred.is(":checked")) {
            var ingredValue = {
               "ingredId": ingred.data("id"),
               "ingredName": ingred.data("name")
            };

            ingredValues.push(ingredValue);
         }

         i += 1;
      }
      else {
         i = -1;
      }
   }


   $.ajax({
      url: "/menuItem/create",
      type: "POST",
      data: {
         "menu-item-name": $("#menu-item-name").val(),
         "menu-item-category": $("#menu-item-category").val(),
         "menu-item-price": $("#menu-item-price").val(),
         "menu-item-quantity": $("#menu-item-quantity").val(),
         "menu-item-description": $("#menu-item-description").val(),
         "menu-item-ingredients": ingredValues
      },
      success: function (data) {
         console.log(data);
         window.location.replace("/menuItems");
         alert('Menu Item creation succeeded.');
      },
      error: function (data) {
         console.log(data);
         alert('Menu Item creation failed. Try again.');
      }
   });
});
</script>

{% endblock %}
