{% extends "Layout.html" %}
{% block content %}
<style>
.search-label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.search-chkbox input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    margin-bottom: 0.4em;
}
</style>

<div class="pure-g">
  <div class="pure-u-6-24">
  </div>
  <div class="pure-u-12-24">

    <div id="first-panel">
      <div class="content">
        <h2 class="content-head is-center">Search the Menu</h2>
        <hr>

        <form class="pure-form pure-form-stacked">
          <fieldset>

            <div class="pure-g">

              <div class="pure-u-1 pure-u-md-11-24">
                <h4 class="content-head is-center" style="margin: 0;">Details to show:</h4>
                <hr>
              </div>

              <div class="pure-u-1 pure-u-md-13-24">
              </div>


              <!-- row -->

              <div class="pure-u-1 pure-u-md-1-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label class="search-label">
                  <input id="search-name" class="search-chkbox" type="checkbox" checked disabled /> Name
                </label>
              </div>

              <div class="pure-u-1 pure-u-md-3-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label class="search-label">
                  <input id="search-category" class="search-chkbox" type="checkbox" /> Category
                </label>
              </div>

              <!-- one row -->

              <div class="pure-u-1 pure-u-md-1-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label class="search-label">
                  <input id="search-quantity" class="search-chkbox" type="checkbox" /> Quantity
                </label>
              </div>


              <div class="pure-u-1 pure-u-md-3-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label class="search-label">
                  <input id="search-price" class="search-chkbox" type="checkbox" /> Price
                </label>
              </div>


              <!-- other row -->

              <div class="pure-u-1 pure-u-md-11-24">
              </div>


              <div class="pure-u-1 pure-u-md-3-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label class="search-label">
                  <input id="search-description" class="search-chkbox" type="checkbox" /> Description
                </label>
              </div>

              <!-- row -->


              <div class="pure-u-1 pure-u-md-11-24">
                <h4 class="content-head is-center" style="margin: 20px 0 0 0;">Additional Details:</h4>
                <hr>
              </div>

              <div class="pure-u-1 pure-u-md-13-24">
              </div>


              <!-- row -->


              <div class="pure-u-1 pure-u-md-1-24">
              </div>

              <div class="pure-u-1 pure-u-md-16-24">
                 <label>
                    Quantity
                    <select id="quantity-operator" style="display: inline-block;">
                      <option value=""></option>
                      <option value="gt">&gt;</option>
                      <option value="lt">&lt;</option>
                      <option value="eq">=</option>
                    </select>
                    <input id="quantity-value" type="number" min="0" style="display: inline-block; width: 75px; margin: 0;" />
                 </label>
                 <label>
                    Price
                    <select id="price-operator" style="display: inline-block;">
                      <option value=""></option>
                      <option value="gt">&gt;</option>
                      <option value="lt">&lt;</option>
                      <option value="eq">=</option>
                    </select>
                    <input id="price-value" type="number" step="0.01" min="0" style="display: inline-block; width: 75px; margin: 0;" />
                 </label>
              </div>

              <div class="pure-u-1 pure-u-md-7-24">
              </div>


              <!-- row -->

            </div>

            <!-- button row -->
            <div class="pure-g" style="padding-top: 45px;">
              <div class="pure-u-1 pure-u-md-18-24">
              </div>

              <div class="pure-u-1 pure-u-md-2-24">
                <button id="search-btn" class="pure-button pure-button-primary" type="button">Search</button>
              </div>

              <div class="pure-u-1 pure-u-md-4-24">
              </div>

            </div>

          </fieldset>
        </form>

      </div>
    </div>
    <hr>

    <a href="/menuItems" style="float: right;">Click here to view the entire menu.</a>
  </div>
  <div class="pure-u-6-24">
  </div>
</div>

<script>

$("#search-btn").click(function () {
   var qtyOperator = $("#quantity-operator").val();
   var qtyValue = $("#quantity-value").val();
   var priceOperator = $("#price-operator").val();
   var priceValue = $("#price-value").val();

   var qtyEmpty = (qtyOperator.trim() === "" && qtyValue.trim() === "");
   var qtyFilled = (qtyOperator.trim() !== "" && qtyValue.trim() !== "");
   var priceEmpty = (priceOperator.trim() === "" && priceValue.trim() === "");
   var priceFilled = (priceOperator.trim() !== "" && priceValue.trim() !== "");

   if ((qtyEmpty || qtyFilled) && (priceEmpty || priceFilled)) {
      var inputs = {};

      if ($("#search-name").is(":checked")) {
         inputs["name"] = "checked";
      }
      if ($("#search-category").is(":checked")) {
         inputs["category"] = "checked";
      }
      if ($("#search-quantity").is(":checked")) {
         inputs["quantity"] = "checked";
      }
      if ($("#search-price").is(":checked")) {
         inputs["price"] = "checked";
      }
      if ($("#search-description").is(":checked")) {
         inputs["description"] = "checked";
      }

      if ($("#quantity-operator").val() !== "") {
         inputs["qtyOp"] = $("#quantity-operator").val();
         inputs["qtyVal"] = $("#quantity-value").val();
      }

      if ($("#price-operator").val() !== "") {
         inputs["priceOp"] = $("#price-operator").val();
         inputs["priceVal"] = $("#price-value").val();
      }

      var urlParams = $.param(inputs);
      window.location.replace("/menuItem/searchResult" + "?" + urlParams);
   }
   else {
      alert("Fill out both fields for partially filled additional details, then try again.");
   }
});


</script>
{% endblock %}
