<div class="order-wrapper">
  <div class="order-box">
    <span class="order-index">{{ loop.index }}</span>
  </div>

  <div>
    <span class="order-detail">
      # of Items: {{ order.numOfItems }}
    </span>

    <span class="order-detail">
      Total Cost: ${{ order.totalPrice|number_format(2, '.') }}
    </span>

    <span class="order-detail">
      Created Date: {{ order.orderDate }}
    </span>

    <span class="order-detail">
      Cooked Status: {{ order.cookedStatus }}
    </span>

    <span class="order-detail">
      Cooked by:
      {% if order.chef == null %}
      N/A
      {% else %}
      {{ order.chef }}
      {% endif %}
    </span>
  </div>
</div>
