<div class="order-wrapper">
  <div class="order-box">
    {% if order.mostExpensive == 'true' %}
    <div style="position: relative; top: -24px; color: #8C5353; margin-bottom: -28px;">Most Expensive</div>
    {% elseif order.leastExpensive == 'true' %}
    <div style="position: relative; top: -24px; color: #5C888B;">Least Expensive</div>
    {% endif %}
    <span class="order-index" style="color: black;">{{ loop.index }}</span>
  </div>

  <div>
    <span class="order-detail">
      # of Items: {{ order.numOfItems }}
    </span>

    <span class="order-detail">
      Total Cost: ${{ order.totalPrice|number_format(2, '.') }}
    </span>

    <span class="order-detail">
      Created Date: {{ order.orderDate }}
    </span>

    <span class="order-detail">
      Cooked Status: {{ order.cookedStatus }}
    </span>

    <span class="order-detail">
      Cooked by:
      {% if order.chef == null %}
      N/A
      {% else %}
      {{ order.chef }}
      {% endif %}
    </span>
  </div>
</div>
